
@import '../../../../styles.scss';

:host{
    .dataTables_length{
        label{
            font-weight: normal;
            text-align: left;
            white-space: nowrap;
            margin: 0;
           
        }
        margin-right: 50px;
        .refresh-data{
            margin-left: 20px;
        }
    }
   
    .form-grid{
        width: fit-content;
    }
}