/* You can add global styles to this file, and also import other style files */
$font-weight-bold-black:800;
$font-weight-bold:700;
$font-weight-medium:500;
$font-weight-regular:400;
$font-weight-light:300;
$font-weight-thin:300;
$color-primary: #212121;

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: $font-weight-regular;
    src: url("../../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: $font-weight-regular;
    src: url("../../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: $font-weight-medium;
    src: url("../../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: $font-weight-bold;
    src: url("../../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: $font-weight-bold;
    src: url("../../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: $font-weight-bold;
    src: url("../../fonts/Roboto-BoldItalic.ttf") format("truetype");
}