@import "../styles.scss";

:host{
    
    .wrapper-body{
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        .wrapper-right{
            max-width: calc(100vw - 56px);
            min-width: calc(100vw - 250px);
        }
    }   
    .wrapper-content{
        position: relative;
        margin-top: 46px;
        height: calc(100% - 46px);
        margin-left: 0;
    }
   
}

