@import "../../../../styles.scss";

:host{
  .menu-sidebar-mini{ 
      position: absolute;
      z-index: 1001;
      top: 0;
      right: -46px;
      height: 46px;
      width: 46px; 
  }
  .page-sidebar{
    padding: 0;
    margin: 0;    
    width: $sidebar-width;
    background-color: $color-grey8;
    position: relative; 
    transition: width .3s ease-in-out;  
    height: 100%;    
    .form-temp{
      border-bottom: 1px solid $color-grey7;
      line-height: 1.5;
      padding: 0 0.7rem;  
      height: 46px;
      width: 100%;    
      .avatar{
        height: 32px;
        width: 32px;
        @include border-radius(50%);
        background-color: $color-grey5;
        flex-shrink: 0;        
      }      
    }
    .form-menu{
      margin-top: 10px;
      width: 100%;   
      height: 200px ;
      padding: 0 8px;
      
      .menu-item{
        height: 40px;
        @include border-radius(4px);
        &:hover{
          background: $color-grey7;
         
        }
        .menu-link{
          color: $color-grey1;
          padding: 0.5rem;   
          height: 100%;
          @include border-radius(4px);
          .form-icon{
            width: 24px;
            flex-shrink: 0;
          }      
        }        
      }
      .active{
        background-color: $color-dark-blue;
        color: $color-white;
      }
    }
    .content-sidebar{
      position: relative;
      margin-left: 0.5rem;
      flex-grow: 1;
      height: 100%;
      overflow: hidden;      
    }
  }  
  .sidebar-mini{
    width: $sidebar-mini-width !important;    
    &:hover{
      width: $sidebar-width !important;       
      .content-sidebar{
        display: flex !important;
      }        
    }   
    .content-sidebar{
      display: none !important;
    }    
  }
}