<div class="form-grid">
    <div class="col-sm-12 col-md-6 m-2">
        <div class="dataTables_length" id="example1_length"><label>Show 
            <select name="example1_length" [(ngModel)]="pageSize" (ngModelChange)="pageSizeChange($event)"
                    aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                    <option value="10" selected="selected">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select></label></div>
    </div>
    <div class="col-ms-12 ">
        <div #jsGridDom></div>
    </div>
</div>  